* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body {
    font-family:  monospace;
}

:root { 
    --primaryColor: #595dae;
    --subColor: black;
}

main {
    display: flex;
    justify-content: flex-end;
}

.search-area {
    position: fixed;
    width: 40%;
    left:0;
    background-color:  var(--primaryColor);
    height: 100vh;
}
.search-area div {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    width:90%;
    flex-wrap: wrap;
}
.search-area div h2 {
    display: block;
    width:100%;
   font-size: 40px;
   color: white;
   margin-bottom: 15px;
}

.search-input {
    color: var(--primaryColor);
    font-size: 15px;
    font-weight: bold;
    width: 80%;
    height: 60px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

#search-btn {
    display: block;
    width: 80px;
    height: 60px;
    color: white;
    background-color: var(--subColor); 
    font-size: 15px;
    text-align: center;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin: 7px;
    /* line-height: 50px; */
}

.result-area {
    width: 60%;
    padding: 15px;;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(129, 151, 86);
    margin-bottom: 30px;
 
}

.result-area > div {
    width: 49%;
    margin-bottom: 30px;
    background-color: lightgray;

 
}

.card {
    box-shadow: 0 4px 20px rgb(62, 95, 42);
    border-radius: 20px;
    /* margin-bottom: 20px; */
 
}

.card-img  {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    background-color: rgb(96, 100, 75);
    align-items: center;
    /* align-content: center; */
   
}

.card-info {
    padding: 30px 0;
    text-align:center;
}

.card-info a {
    display:inline-block;
    width:200px;
    background-color:var(--primaryColor);
    color:white;
    border-radius:25px;
    padding:15px 5px ;
    font-size:15px;
    text-decoration:none;
    margin: 15px 0px;
}


.card-info a:hover {
    background-color: var(--subColor);

}
.showDetails {
    display: none;
}

.recipe-details {
    position: fixed;
    width:40%;
    left:0;
    background-color:  var(--primaryColor);
    height: 100vh;
    padding:80px  30px;
}
.recipe-details i {
    width: 30px;
    height: 30px;
    color: black;
    background-color: white;
    position:absolute;
    right: 20px;
    top:20px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;

}

.recipe-details > * {
    margin-bottom: 25px;
    color: white;

}

.recipe-details  h2 {
    font-size: 35px;
}


.recipe-details p {
    font-size: 18px;
}