// www.themealdb.com/api/json/v1/1/filter.php?c=Seafood{searchTerm}
// www.themealdb.com/api/json/v1/1/lookup.php?i=52772{id}

//variables
// let searchInputEl = document.querySelector('.serach-input');
// let searchBtnEl =  document.querySelector('#search-btn');
// let resultArea = document.querySelector('.result-area');


// //event
// searchBtnEl.addEventListener('click',getRecipes);

// function getRecipes() {
//     let searchTerm = searchInputEl.value.trim();
//     let apiUrl = `https://www.themealdb.com/api/json/v1/1/filter.php?c=Seafood${searchTerm}`;

      
//     fetch(apiUrl)
//     .then(res => () =>{
//         console.log(res);
//     })
// };

//  function displayRecipes(recipes) {
//  resultAreaEl.innerHTML = "";    // Clear existing content
//       if(recipes.meals.length == null) {
//           resultAreaEl.innerHTML = "non data";
//           return;
          
//       }
  
//       recipes.meals.foreach(recipe=> {
//         resultAreaEl.innerHTML += 
//         `<div class="card">
//         <div class="card-img">
//             <img src="${recipe.strMealThumb}" alt="">
//         </div>
        
//         <div class="card-info">
//             <h2> ${recipe.strMeal} </h2>
//             <br>
//             <a href="recipe-details">Get Recipe</a>
//         </div>
//     </div>`;
//       })
//     };

///////

